@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

body {
  margin: 0;
  padding: 0;
  background-image: url('../images/pattern.svg');
  color: #35342f;
  font-family: 'Raleway', sans-serif;
}
